body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background: rgb(31, 31, 31);
    color: #fff;
    display: inline-block;
    padding: 10px;
    padding-top: 20px;
    width: 100%;
    height: 100%;
}

progress:before {
    content: attr(data-label);
    font-size: 0.8em;
    vertical-align: 0;
    color: black;
    
    /*Position text over the progress bar */
    position:absolute;
    left:0;
    right:0;
    top: 2px; 
}

progress {
    position:relative;
}

.rarity-stats {
    width: 12%;
}