mixin dayStats(day)
    p.has-text-centered.is-size-5= day.name
    nav.level.is-mobile
        .level-item.has-text-centered
            div
                p.heading.is-capitalized= translations.points
                p.title.has-text-white= (day.sum || 0).toLocaleString("fr-FR")
        .level-item.has-text-centered
            div
                p.heading.is-capitalized= translations.questions
                p.title.has-text-white= (day.amount || 0).toLocaleString("fr-FR")

style 
    include ./quiz.css

.has-text-centered.is-size-3.mb-5.has-text-white
    span.icon-text
        .icon.is-small
            i.fa-solid.fa-ranking-star
        strong.mx-3.has-text-white= rank
        .icon.is-small
            i.fa-solid.fa-ranking-star
nav.level.is-mobile
    each rarity in rarities
        .level-item.has-text-centered.rarity-stats
            div(style=`color: ${rarity.color};`)
                p.heading= rarity.name
                p.title.is-4(style=`color: ${rarity.color};`)= rarity.value.toLocaleString("fr-FR")
p.has-text-centered.is-size-4= title.name
p.has-text-centered.is-size-5
    strong.has-text-white #{currentPoints}
    |  #{translations.points}
.level-progress.has-text-centered
    progress.progress.is-large.is-info(value=`${progress.value}`
        max=`${progress.max}`
        data-label=`${progress.percentage}%`)
p.has-text-left.block
    span(style="float: left;")= title.minimum.toLocaleString("fr-FR")
    span(style="float: right;")= nextTitle.minimum.toLocaleString("fr-FR")

each val in dates
    +dayStats(val)